<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzHIwgKacTf3i3CskP99M7YzZQVYY_m7A</string>
	<key>GCM_SENDER_ID</key>
	<string>89258310034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkenozbek.toDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-df3df</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-df3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89258310034:ios:60dac4381da412dfd4294b</string>
</dict>
</plist>